*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    font-weight: 600;
    box-sizing: border-box;
}


html {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(0deg,rgb(31, 37, 43),rgb(57, 60, 68));
    min-height: 100vh;
    min-width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container, #display, #row{
    gap: 10px;
    border-radius: 5px;
}

@media (max-width:768px) {
    #container{  
        min-height: 100vh;
        height: 100%;
    }
    }

#container{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 37, 43);
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}

#display{
    display: flex;
    background-color: rgb(95, 109, 129);
    box-shadow: rgb(62, 72, 88) 0px -8px;
    justify-content: end;
    align-items: end;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 100%;
    min-height: 4.5rem;
}
.top{
    font-size: 80%;
    font-weight: 500;
}

.bot{
    font-size: 2rem;
}

#row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(95, 116, 160);
    opacity: 1;
    box-shadow: rgb(82, 78, 102) 0px 5px;
    height: 2.5rem;
}

button.function, button.dot,button.equal, button.del{
    background-color: rgb(63, 153, 206);
    box-shadow: rgb(49, 100, 148) 0px 5px;
}

button.clear{
    background-color: rgb(197, 73, 73);
    box-shadow: rgb(124, 48, 42) 0px 5px;
}

button.del{
    background-color: rgb(230, 162, 73);
    box-shadow: rgb(179, 107, 65) 0px 5px;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.6;
    box-shadow: 0px 0px;
    transform: translateY(5px);
    transition: 0.1s;
}

button:disabled{
    background-color: rgb(38, 49, 73);
    box-shadow: rgb(31, 31, 36) 0px 5px;
}

h1{
    color: rgb(73, 73, 83);
    margin-bottom: 1rem;
    text-align: center;
}